@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@layer base {
  body {
    @apply bg-white text-gray-900;
    font-family: "PT Sans", sans-serif;
  }
}
